# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Windows Wheels

on:
  push:
    branches:
    - main

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  create_version:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v5
        with:
          python-version: '3.10'
      - name: Create version
        run: |
          mkdir version
          echo "$(python _version.py).dev$(date '+%Y%m%d%H%M%S')" > version/version.txt
          cat version/version.txt
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: version-file
          path: version

  build_wheels:
    runs-on: windows-2022
    needs: [create_version]
    strategy:
      fail-fast: true
      matrix:
        python-version: [ '3.12', '3.13']
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: version-file
        path: version

    - name: Set up Bazel
      uses: bazel-contrib/setup-bazel@083175551ceeceebc757ebee2127fde78840ca77 # 0.18.0
      with:
        bazelisk-cache: true
        disk-cache: ${{ github.workflow }}
        repository-cache: true

    - name: Set Python Version
      env:
        TARGET_PYTHON: ${{ matrix.python-version }}
      run: |
        echo "set version to ${TARGET_PYTHON}"
        python _update_bazel_py_version.py $TARGET_PYTHON

    - name: Build package
      env:
        TARGET_PYTHON: ${{ matrix.python-version }}
      run: |
        bazel build --define GLIBC_VERSION=$GLIBC_VERSION --define TARGET_VERSION="$(python -c "print(\"py${TARGET_PYTHON}\".replace(\".\", \"\"))")" --define VERSION="$(cat version/version.txt)"  :tesseract_decoder_wheel

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: python-wheels-${{ matrix.os }}-${{ matrix.python-version }}
        path: ./bazel-bin/*.whl

